* {
    margin: 0;
}

body {
    position: fixed;
    margin-top: 42px;
    left: 300px;
    width: 400px;
    height: 96%;
    background-color: rgb(158, 158, 158);
    overflow-x: none;
    overflow-y: auto;
    box-shadow: 2px 2px 2px #000000;
    z-index: 1;
}

.item-list {
    left: 0;
}

.create-title {
    background-color: rgb(21, 21, 21); 
    color: rgb(146, 146, 146); ;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    border-right: none;
    text-align: center;
    width: 100%;
    box-shadow: 2px 2px 2px #000000;
    z-index: 2;
}

.create-button {
    border-left: none;
}

.section-title {
    background-color: rgb(46, 46, 46); 
    color: rgb(163, 163, 163); ;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
    width: 100%;
    border-right: none;
}

.item-title {
    background-color: rgb(28, 28, 28); 
    color: rgb(143, 143, 143); ;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(150, 150, 150);
    width: 100%;
}

.label {
    background-color: rgb(155, 155, 155);
    color: rgb(38, 38, 38);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid rgb(109, 109, 109);
    font-weight: bold;
    width: 100%;
    border-right: none;
}

button {
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    border: 1px solid rgb(199, 199, 199); 
    background-color: rgb(128, 128, 128);
    border-top: none;
    font-size: 18px;
    color:rgb(22, 22, 22);
    text-align: left;
    cursor: pointer;
}

.crud-button {
    width: 100px;
    border-left: none;
}

input {
    border: none;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(43, 43, 43);
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: left;
    color: white;
    border-right: none;
    width: 98.8%;
}

.item {
    background-color: rgb(58, 58, 58);
    border: 1px solid rgb(33, 33, 33);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-top: none;
    border-right: none;
}

.group {
    background-color: rgb(158, 158, 158);
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(109, 109, 109, 0.5);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(153, 255, 233, 0.5);
}

span {
    display: inline;
}

.mat-icon-text {
    position: absolute;
    margin-top: 2px;
}



